# พอร์ตเซิร์ฟเวอร์
PORT=3000

# LINE Messaging API
LINE_CHANNEL_SECRET=
LINE_CHANNEL_ACCESS_TOKEN=

# LINE Front-end Framework (LIFF)
LIFF_ID=

# Google Cloud Services
GOOGLE_SHEET_ID=
GOOGLE_DRIVE_FOLDER_ID=
GOOGLE_SERVICE_ACCOUNT_KEY_PATH=./credentials/service-account.json

# ไทม์โซนระบบ
TIMEZONE=Asia/Bangkok
